@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #020617;
}

a {
  text-decoration: none;
}
